In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('chat1.csv', encoding="latin1")

In [3]:
df

,[05/08/2022,11:10:42 PM] ?+92 345 3113993?: Iqbal Ahmed AI-46214 03453113993 iq.ahmed91@gmail.com,Unnamed: 2,Unnamed: 3
0,[05/08/2022,11:11:59 PM] ?+92 304 3184681?: Muhammad Saad...,NaN,NaN
1,?[05/08/2022,11:12:04 PM] Uni Zeeshan: re.rar ?document om...,NaN,NaN
2,[05/08/2022,11:12:05 PM] ?+92 300 2303175?: Shahzad Ahmed...,NaN,NaN
3,[05/08/2022,11:12:43 PM] ?+92 315 2935701?: name: Sami ro...,NaN,NaN
4,[05/08/2022,11:13:17 PM] ?+92 334 2995610?: Talha Mehfooz,AI-40211 email: khurshaiditm47@gmail.com,mobile: 03342995610
...,...,...,...,...
62,[05/08/2022,11:17:25 PM] ?+92 309 2655755?: Name: Syed Mu...,NaN,NaN
63,Roll number: AI-47456,NaN,NaN,NaN
64,Num: 03092655755,NaN,NaN,NaN
65,Email : daniyalazam19@gmail.com,NaN,NaN,NaN
66,[05/08/2022,11:17:27 PM] ?+92 302 8289423?: Mehmood AI-41...,NaN,NaN

In [4]:
df.columns = ["first","second","third","fourth"]

In [5]:
df

,first,second,third,fourth
0,[05/08/2022,11:11:59 PM] ?+92 304 3184681?: Muhammad Saad...,NaN,NaN
1,?[05/08/2022,11:12:04 PM] Uni Zeeshan: re.rar ?document om...,NaN,NaN
2,[05/08/2022,11:12:05 PM] ?+92 300 2303175?: Shahzad Ahmed...,NaN,NaN
3,[05/08/2022,11:12:43 PM] ?+92 315 2935701?: name: Sami ro...,NaN,NaN
4,[05/08/2022,11:13:17 PM] ?+92 334 2995610?: Talha Mehfooz,AI-40211 email: khurshaiditm47@gmail.com,mobile: 03342995610
...,...,...,...,...
62,[05/08/2022,11:17:25 PM] ?+92 309 2655755?: Name: Syed Mu...,NaN,NaN
63,Roll number: AI-47456,NaN,NaN,NaN
64,Num: 03092655755,NaN,NaN,NaN
65,Email : daniyalazam19@gmail.com,NaN,NaN,NaN
66,[05/08/2022,11:17:27 PM] ?+92 302 8289423?: Mehmood AI-41...,NaN,NaN

In [6]:
df.index

RangeIndex(start=0, stop=67, step=1)

In [7]:
import re

In [13]:
re.findall("Email:[A-z0-9]+", df)

TypeError: expected string or bytes-like object

In [14]:
x = '''[05/08/2022	 11:10:42 PM] ?+92 345 3113993?: Iqbal Ahmed AI-46214 03453113993 iq.ahmed91@gmail.com		
[05/08/2022	 11:11:59 PM] ?+92 304 3184681?: Muhammad Saad: AI46190 03043184681: sm.saad50@gmail.com		
?[05/08/2022	 11:12:04 PM] Uni Zeeshan: re.rar ?document omitted		
[05/08/2022	 11:12:05 PM] ?+92 300 2303175?: Shahzad Ahmed : AI-46165 - 03002303175 - shaze.ahmed@gmail.com		
[05/08/2022	 11:12:43 PM] ?+92 315 2935701?: name: Sami rollno:AI- 40483 email: samikhan2872@gmail.com mobile-no:03152935701		
[05/08/2022	 11:13:17 PM] ?+92 334 2995610?: Talha Mehfooz	 AI-40211 email: khurshaiditm47@gmail.com 	 mobile: 03342995610
[05/08/2022	 11:13:18 PM] ?+92 335 3271054?: Muhammad Mohsin: AI-53993		
Email: mohsinsheikh0700@gmail.com			
No: 03353271054			
[05/08/2022	 11:13:29 PM] ?+92 345 2541450?: Hidayat ur Rehman : AI-6546 email: abc@gmail.com		
[05/08/2022	 11:13:30 PM] ?+92 316 2688657?: Muhammad Faizan: AI 40939		
faizanwaseem476@gmail.com			
[05/08/2022	 11:13:31 PM] ?+92 344 2226632?: Name: Saad Ahmed		
RollNo: AI-47242			
Email: hello.saad96@gmail.com			
[05/08/2022	 11:13:32 PM] ?+92 313 1145255?: Gulzar :		
AI-20145			
Email:hafizgulzar.alm1996@gmail.com			
Mobile no. 03131134244			
[05/08/2022	 11:13:34 PM] ?+92 323 2900066?: Abdul Rasheed AI-40154		
email: abdulrasheed2511gmail.com			
[05/08/2022	 11:13:46 PM] ?+92 306 2462926?: ?This message was deleted.		
[05/08/2022	 11:13:59 PM] Uni Zeeshan: Muhammad Zeeshan : AI-400250 		
Email: abc@gmail.com			
Mobile no: 03153727169			
[05/08/2022	 11:14:03 PM] ?+92 342 3392795?: Ahmed saleem :AI-44378		
Email: ahmedsaleem2122@gmail.com			
Mobile no:0342-3392795			
[05/08/2022	 11:14:07 PM] Ali Nasir Al & DS: Name : Ali Nasir 		
Roll No: 44365 			
NIC: 42101-9864676-7 			
Email: malinasir1997@gmail.com 			
Mobile No: 0331-2147373			
[05/08/2022	 11:14:14 PM] ?+92 333 3120597?: Name : Hamza Ahmed Ansari Roll number : AI-40591 Email : ibneshakeel2000@gmail.com Mobile number : 03333120597		
[05/08/2022	 11:14:15 PM] Zubair Rasheed: name: Zubair		
roll no: AI- 40200 			
email: zubairrasheed0316@gmail.com 			
mobile-no: 03161448439			
[05/08/2022	 11:14:24 PM] ?+92 315 2185186?: Name: Irfan Roll Number: AI-45055 email: irfanmuhammadk786@gmail.com Mobile Number: 03152185186		
[05/08/2022	 11:15:16 PM] ?+92 312 2093412?: Basharat Ali :AI-46716		
Email: basharatfarhad24@gmail.com			
Mobile no:03122093412			
[05/08/2022	 11:15:19 PM] ?+92 312 2296999?: ?This message was deleted.		
[05/08/2022	 11:15:27 PM] ?+92 344 1802958?: Name: Muhammad usama		
Roll no : AI-43985			
Mobile no : 03441802958			
Email : usamakh315@gmail.com			
[05/08/2022	 11:15:30 PM] ?+92 312 8525358?: Faraz uddin : AI-44226- 03128525358 - asbausmuhammad92@gmail.com		
[05/08/2022	 11:15:36 PM] ?+92 334 3523966?: Name: Syed Muhammad Mooazam 	 Roll No: AI-40222 	 Mobile Number: +923343523966
[05/08/2022	 11:15:42 PM] ?+92 324 2824117?: Name : Abdul Sami  Roll number : AI-40352 Email : abdulsamiarain82@gmail.com Mobile number : 03242824117		
[05/08/2022	 11:16:12 PM] ?+92 312 2296999?: Umair Taqi : AI-46155 - 03122296999 - umairtaqi48@gmail.com		
[05/08/2022	 11:16:15 PM] ?+92 323 2553599?: Name: Atiq Raza		
ID : AI-42612			
Email : razaatiq05@gmail.com			
Mobile No: 03232553599			
[05/08/2022	 11:16:16 PM] ?+92 334 0378290?: Ahsan Uddin		
AI-43505			
0334-0378290			
[05/08/2022	 11:16:48 PM] M Furqan Al & DS: Name: Muhammad Furqan		
Roll no:AI-40277			
Email: furqansawati@gmail.com			
Mobile no:03120004695			
[05/08/2022	 11:17:03 PM] ?+92 306 2462926?: Name: Syed Salman Ali 	 Roll No: AI-40969 	 Mobile Number: +923062462926
[05/08/2022	 11:17:25 PM] ?+92 309 2655755?: Name: Syed Muhammad Daniyal Azam		
Roll number: AI-47456			
Num: 03092655755			
Email : daniyalazam19@gmail.com			
[05/08/2022	 11:17:27 PM] ?+92 302 8289423?: Mehmood AI-41824 03028289423 mahmoodsuleman@hotmail.com		
'''

In [15]:
import re

In [28]:
re.findall('Name: [A-z]+',x)
re.findall("Roll number: [AI_0-9]+",x)

['Roll number: AI']