In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame(np.random.rand(5,3))

In [6]:
df

          0         1         2
0  0.809784  0.964888  0.976134
1  0.127073  0.990105  0.987202
2  0.764659  0.986825  0.933816
3  0.709035  0.032524  0.142504
4  0.888235  0.587232  0.315705

In [18]:
df.drop(2,axis=1)
df.drop(0,axis=0)
df.loc[0,1] = 23

In [19]:
df.describe()

              0          1         2
count  5.000000   5.000000  5.000000
mean   0.659757   5.119337  0.671072
std    0.304916  10.003274  0.408566
min    0.127073   0.032524  0.142504
25%    0.709035   0.587232  0.315705
50%    0.764659   0.986825  0.933816
75%    0.809784   0.990105  0.976134
max    0.888235  23.000000  0.987202

In [20]:
df.corr()

          0         1         2
0  1.000000  0.259207 -0.405985
1  0.259207  1.000000  0.450381
2 -0.405985  0.450381  1.000000