In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame(np.random.rand(5,4))
df

          0         1         2         3
0  0.895217  0.182828  0.796678  0.727486
1  0.262273  0.756394  0.215917  0.450379
2  0.560013  0.739838  0.373403  0.455095
3  0.211353  0.465247  0.660289  0.791700
4  0.891106  0.799648  0.953384  0.932026

In [3]:
df.drop(3,axis=1)

          0         1         2
0  0.895217  0.182828  0.796678
1  0.262273  0.756394  0.215917
2  0.560013  0.739838  0.373403
3  0.211353  0.465247  0.660289
4  0.891106  0.799648  0.953384

In [4]:
df.loc[1,:]

0    0.262273
1    0.756394
2    0.215917
3    0.450379
Name: 1, dtype: float64

In [5]:
df.head()

          0         1         2         3
0  0.895217  0.182828  0.796678  0.727486
1  0.262273  0.756394  0.215917  0.450379
2  0.560013  0.739838  0.373403  0.455095
3  0.211353  0.465247  0.660289  0.791700
4  0.891106  0.799648  0.953384  0.932026

In [6]:
df.loc[(df[3]<0.85)& (df[1]<0.69)]

          0         1         2         3
0  0.895217  0.182828  0.796678  0.727486
3  0.211353  0.465247  0.660289  0.791700

In [7]:
df = pd.DataFrame(np.random.rand(5,4))
df.head(2)

          0         1         2         3
0  0.219589  0.179608  0.539949  0.975121
1  0.926897  0.777889  0.975107  0.822380

In [8]:
df.loc[1,1]

0.7778890063636845

In [9]:
df.iloc[1,2]

0.9751074008212233

In [10]:
df.columns = list("ABCD")
df.head(4)

          A         B         C         D
0  0.219589  0.179608  0.539949  0.975121
1  0.926897  0.777889  0.975107  0.822380
2  0.943377  0.751755  0.023195  0.865277
3  0.674610  0.404647  0.149914  0.292385

In [11]:
df.loc[1,"D"]

0.8223803202984125

In [12]:
df.iloc[1,0]

0.9268966171496581

In [13]:
df.iloc[[0,1],[0,3]]

          A         D
0  0.219589  0.975121
1  0.926897  0.822380